
.slide {
  position: relative;
}

.home {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: black;
}

/*.container-arrow:hover .home{
  animation: slideshow 10s linear infinite;
}

@keyframes slideshow {
  0%    { top: 0; }
  100%  { top: -1000%; }
}*/

.media { 
  min-width: 0;
  margin: 5px;
}

.homepage {
  width: 100%; 
}

.foot-arrow {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  content: "";
}

.head-arrow {
  position: fixed;
  top:155px;
  width: 100%;
  content: "";
}

.navbar {
  background: url(http://www.graphicartsunit.com/images/noise.png);
  /*border-bottom: 1px solid black;*/
}

.nav-item {
  font-family: 'Bungee Shade', cursive;
  font-size: 23px;
  text-decoration: none;
  position: relative;
  margin : 5px;
  text-align: center;
  max-width: 250px;
}

.nav-item:hover{
  border-radius: 100em;
  background: url(http://www.graphicartsunit.com/images/noise2.png);
}

.nav-item.active {
  /*border: 3px solid #1c1b1b;*/
}






/*.nav-item:before {
  border: 2px solid #f9f6f1;
  background: url(http://www.graphicartsunit.com/images/noise2.png);
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 100em;
  left: 5px;
  top: 5px;
}*/

#sidebarCollapse {
  width: 40px;
  height: 40px;
  background: white;
}

#sidebarCollapse span {
  width: 80%;
  height: 2px;
  margin: 0 auto;
  display: block;
  background: black;
  transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
}

#sidebarCollapse span:first-of-type {
    /* rotate first one */
    transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
    /* second one is not visible */
    opacity: 0;
}
#sidebarCollapse span:last-of-type {
    /* rotate third one */
    transform: rotate(-45deg) translate(1px, -1px);
}

#sidebarCollapse.active span {
    /* no rotation */
    transform: none;
    /* all bars are visible */
    opacity: 1;
    margin: 5px auto;
}

.wrapper {
    display: flex;
    /*align-items: stretch;*/
    perspective: 1500px; 
    /*background: #f9f6f1;*/
}

/*ul.components {
  width: 80%;
  
}*/






/*body {
  background: #f9f6f1;
}*/
/*div {
  padding: 4em 0;
  text-align: center;
  z-index: 0;
  position: relative;
  background: #7cd4d4 url(http://www.graphicartsunit.com/images/noise.png);
}*/

.btn {
  /*font-family: lato, sans-serif;*/
  font-family: 'Cabin Sketch', cursive;
  font-weight: bold;
  font-size: 1em;
  letter-spacing: 0.1em;
  text-decoration: none;
  color: #03384b;
  /*display: inline-block;*/
  padding: 20px 40px 20px 40px;
  position: relative;
  border: 3px solid #03384b;
  border-radius: 100em;
  margin : 5px;
  width: 90%;
  height: 30px;


}

.btn:before {
  border: 3px solid #f9f6f1;
  background: url(http://www.graphicartsunit.com/images/noise2.png);
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 100em;
  left: 5px;
  top: 5px;
}


/*.btn {
  margin: 2px;
  border-color: white;
  border-width: 2px;
  color: white;
  border-radius: 10px;
  width: 80%;
  justify-content: space-around;
  
}*/

#sidebar {
/*    min-width: 250px;
    max-width: 250px;*/
    width: auto;
    color: #fff;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: center left; /* Set the transformed position of sidebar to center left side. */
    background: #7cd4d4 url(http://www.graphicartsunit.com/images/noise.png);
    z-index: 0;
    position: relative;
    display: flex;
    justify-content: space-around;
}

#sidebar.active {
    margin-left: -250px;
    transform: rotateY(100deg); /* Rotate sidebar vertically by 100 degrees. */
}

@media (max-width: 768px) {
    /* Reversing the behavior of the sidebar: 
       it'll be rotated vertically and off canvas by default, 
       collapsing in on toggle button click with removal of 
       the vertical rotation.   */
    #sidebar {
        margin-left: -250px;
        transform: rotateY(100deg);
    }
    #sidebar.active {
        margin-left: 0;
        transform: none;
    }

    /* Reversing the behavior of the bars: 
       Removing the rotation from the first,
       last bars and reappear the second bar on default state, 
       and giving them a vertical margin */
    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }

    /* Removing the vertical margin and make the first and last bars rotate again when the sidebar is open, hiding the second bar */
    #sidebarCollapse.active span {
        margin: 0 auto;
    }
    #sidebarCollapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }
    #sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
    }
    #sidebarCollapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }
}


/* Arrow Button */
.arrow-down {
  margin-top: -20px;
  font-weight: bold;
  text-transform: uppercase;
  color:#000;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  position: absolute;
  bottom:0;left:0;
  z-index: 10;
  width:100%;
  padding-bottom: 15px;
  cursor: pointer;
}

.arrow-up {
  margin-top: -20px;
  font-weight: bold;
  text-transform: uppercase;
  color:#000;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  position: absolute;
  bottom:0;left:0;
  z-index: 10;
  width:100%;
  margin:0;
  padding-bottom: 15px;
  cursor: pointer;
}
.container-arrow:hover, .container-arrow:focus {
  text-decoration: none;
}

/* Arrow Bouncing */
.container-arrow span {
  display: inline-block; 
  font-size: 60px;  
  animation: .7s down infinite alternate; 
} 

/***Animation Arrow down***/ 
@keyframes down { 0%{transform:translateY(0px)} 100%{transform:translateY(20px)} } 
@-webkit-keyframes down{ 0%{-webkit-transform:translateY(0px)} 100%{-webkit-transform:translateY(20px)} } 
        
